/* inline block */

/* a {
  background: red;
  color: white;
  display: inline-block;
  margin: 10px;
  font-size: 40px;
} */

/* border box */
* {
  margin: 0;
  padding: 0;
}
.box1,
.box2,
.box3 {
  width: 150px;
  height: 150px;
  color: white;
}
.box1 {
  box-sizing: border-box;
  background: red;
}

.box2 {
  background: orange;
}
.box3 {
  background: green;
}
