/* CSS box model 
padding 
margin
border
*/
/* * {
  margin: 0;
} */
#cssbox {
  background: red;
  /* padding-top: 20px;
  padding-left: 30px;
  padding-right: 45px;
  padding-bottom: 25px; */
  padding: 30px;
  margin: 30px;
  border-style: solid;
  border-width: 10px;
  border-color: blue;
}

#cssboxpara {
  background: blue;
  padding: 20px 35px 40px 35px;
  margin: 100px 20px 40px 65px;
  border: 24px solid yellowgreen;
}

.button {
  margin: 3rem;
}
a {
  background: greenyellow;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.2rem 1.5rem;
  color: #222;
  margin: 0px 20px;
}
#one {
  border: 0.2rem solid #222;
}

#two {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: #222;
  outline-offset: 10px;
  outline-offset: -10px;
}
