* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 60px;
  color: orange;
  font-weight: bold;
}

.banner {
  background-image: url("./big.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./big.jpeg") center/cover no-repeat fixed;
}
