* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  height: 200vh;
  color: green;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  display: flex;
}
.big-img {
  background-image: url("./big.jpeg");
  size: 10px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-size: cover;
  background-attachment: fixed;
}

.small-img {
  background-image: url("./small.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  background-attachment: fixed;
}
.folder-img {
  background-image: url("./folder-img/water.jpeg");
  background-repeat: no-repeat;
  background-size: cover; /*background-image size */
  background-position: center; /*background-position */
  /* background-position: 20% 30%; background-position change in x & y axis */
  background-attachment: fixed;
  text-transform: uppercase;
}
